__pycache__/
*.pyc
*.pyo
*.pyd
myenv/
*.DS_Store
*.egg-info/
.env
celeryconfig.py
company_profile.py
to.txt
CandidateFilterSchema.json
company_details_taxonomy.json
culture_taxonomy.json
enriched_candidate_profiles.json
geogrpahy_taxonomy.json
sales_taxonomy.json
segment_synonyms.json
/home/nethranand-ps/AI_HR/individual/pgvector
geography_map.json
vector.py
enriched_candidate_profiles.json

